body {
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: black;
}

.add-book {
  width: 350px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

add-book button {
  padding: 12px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}